/*root CSS*/
html {
  font-family: Helvetica;
  color: black;
}

/* header CSS*/
body {
  margin: 0;
}

header {
  position: fixed;
  height: 64px;
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: white;
}

#logo {
  display: flex;
  align-items: center;
  flex: 0 1 100%;
  margin: 0 24px;
}

#calogo {
  align-self: flex-start;
  height: 50px;
}

#logo span {
  color: black;
  text-transform: uppercase;
  line-height: 32px;
}

#nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  flex: 0 1 100%;
}

#nav a {
  color: black;
  text-decoration: underline;
  margin-right: 16px;
}

/* banner CSS */
#main {
  display: flex;
  flex-direction: column;
}

#banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 64px;
  width: 100%;
  background-color: lightgray;
}

#banner img {
  width: 60%;
  margin: 32px 0 32px 24px;
}

#bannertext {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  background-color: lightgray;
}

#bannertext h1 {
  color: #4a4a4a;
  background-color: lightgray;
  font-size: 40px;
  font-weight: 900;
}

#bannertext h2 {
  color: #4a4a4a;
  background-color: lightgray;
  font-size: 24px;
  font-weight: 800;
}

#bannertext .button {
  display: flex;
  width: 300px;
  height: 40px;
  background-color: #4a4a4a;
  justify-content: center;
  align-items: center;
}

.button span {
  text-align: center;
  color: white;
  background-color: #4a4a4a;
}

/*Info section*/

#main {
  width: 100%;
}

#practice {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin: 24px 0 32px 24px;
  top: 40px;
}

.bigpic {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigpic img {
  max-width: 100%;
  object-fit: contain;
  margin: 32px 24px;
}

.bigpic h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.bigpic h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.bigpic h3 {
  font-size: 0.751rem;
  margin-top: 0;
  margin-bottom: 2rem;
  align-self: flex-start;
}

#smallsets {
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin-top: 16px;
}

.smallcontainer {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.smallpic {
  display: inline;
  max-width: 35%;
  margin: 16px 16px;
}

.smallpic img {
  display: inline;
  max-width: 100%;
  object-fit: contain;
}

.smallpictext {
  display: inline;
  max-width: 65%;
}

.smallpictext h2 {
  font-size: 1rem;
  margin: 0;
}

.smallpictext h3 {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#keynote {
  background-color: lightgray;
}
