/*root CSS*/
html {
  font-family: "Kumbh Sans",sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: lightblue;
}

body {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  float: none;
}

h1 {
  color: #4a4a4a;
  font-size: 3rem;
}

h2 {
  color: #4a4a4a;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 200;
}

h4 {
  color: #4a4a4a;
  font-size: .75rem;
  font-weight: 200;
}

/* header CSS*/
header {
  font-family: Arial;
  position: fixed;
  width: 100%;
  height: 4rem;
  max-width: 100rem;
  margin-top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: white;
}

#logo {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  flex: 0 1 100%;
}

#calogo {
  height: 3.125rem;
  align-self: flex-start;
}

#logo span {
  color: black;
  line-height: 2rem;
  text-transform: uppercase;
}

#nav {
  margin-right: 0.5rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 100%;
}

#nav a {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}

#main {
  width: 100%;
}

/* Banner CSS */
#main {
  display: flex;
  flex-direction: column;
}

#banner {
  position: relative;
  top: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}

.largepic {
  width: 60%;
  overflow: hidden;
}

.largepic img {
  height: auto;
  max-width: 100%;
  margin: 2rem 0 2rem 1.5rem;
}

#bannertext {
  width: 35%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

#bannertext h1 {
  font-weight: 700;
  color: #4a4a4a;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
  background-color: lightgray;
}

#bannertext h2 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
  background-color: lightgray;
}

#bannertext .button {
  width: 20rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a;

}

.button span {
  text-align: center;
  color: white;
  background-color: #4a4a4a;
}

/*Info section*/

#practice {
  position: relative;
  top: 4rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
  background-color: white;
}

.bigpic {
  width: 60%;
  margin: 2rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bigpic img {
  display: block;
  height: auto;
  max-width: 100%;
}

.bigpic h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.bigpic h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.bigpic h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.bigpic h4 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.smallsets {
  position: relative;
  width: 40%;
  height: auto;
  margin-top: 0;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
}

.smallsets.down1rem{
  top: 1rem;
}

.smallcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.smallpic {
  display: inline-flex;
  align-items: center;
  max-width: 35%;
  height: auto;
  margin: 1rem 1rem;
}

.smallpic img {
  display: inline;
  height: auto;
  max-width: 100%;
}

.smallpictext {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.smallpictext h2 {
  line-height: 1.3;
  padding-top: 0;
  margin: 0;
}

.smallpictext h3 {
  line-height: 1.45;
  margin: 0;
  padding: 0.5rem 0;
}

h3.nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.nopadding a {
  margin: 0;
}

/*Start Learning Section*/

#startLearning {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

#startLearning h1 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#courses {
  margin: 0 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courseDescription {
  width: 30%;
  margin: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.courseDescription img {
  height: auto;
  max-width: 100%;
}

.courseText {
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.courseText h2 {
  margin: 0;
  padding-top: 1rem;
}

 .courseLabel {
   margin: 0;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   text-transform: uppercase;
 }

.bottomText {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-top: 0;
}

/*Thesis section*/
#thesis {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#thesisbody {
  margin-bottom: 2rem;
}

#thesis h1 {
  text-align: center;
}

#thesis h2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#thesis h3 {
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 0;
}

#thesisBody {
  display: flex;
}

#videocontainer {
  width: 60%;
  margin: 0 1.5rem 0 1.5rem;
  padding-bottom: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

video {
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
}

.smallcontainer.graybackground {
  background-color: lightgray;
}

footer {
  position: relative;
  font-family: Arial;
  font-size: 0.75rem;
  top: 4rem;
  height: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid lightgray;
  background: white;
}

.copyright {
  margin: 0;
  display: flex;
  align-items: center;
  flex: 0 1 100%;
}

#terms {
  padding-right: 1.5rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 100%;
}

#terms span {
  padding-right: 1.5rem;
}
