/*root CSS*/
html {
  font-family: "Kumbh Sans",sans-serif;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: lightblue;
}

body {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  float: none;
  background-color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 200;
}

h4 {
  font-size: .75rem;
  font-weight: 200;
}

/* header CSS*/
header {
  font-family: Arial;
  position: fixed;
  width: 100%;
  height: 4rem;
  max-width: 100rem;
  margin-top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: white;
}

.widescreen {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.smallscreen {
  display: none;
}

#logo {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  flex: 0 1 100%;
}

#calogo {
  height: 3.125rem;
  align-self: flex-start;
}

#logo span {
  color: black;
  line-height: 2rem;
  text-transform: uppercase;
}

#nav {
  margin-right: 0.5rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 100%;
}

#nav a {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
}

#main {
  width: 100%;
}

/* Banner CSS */
#main {
  display: flex;
  flex-direction: column;
}

#banner {
  position: relative;
  top: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}

.largepic {
  width: 60%;
  overflow: hidden;
}

.largepic img {
  height: auto;
  max-width: 100%;
  margin: 2rem 0 2rem 1.5rem;
}

#bannertext {
  width: 35%;
  max-width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

#bannertext h1 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
  background-color: lightgray;
}

#bannertext h2 {
  max-width: 100%;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
  background-color: lightgray;
}

#bannertext .button {
  width: 20rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a;

}

.button span {
  text-align: center;
  color: white;
  background-color: #4a4a4a;
}

/*Info section*/

#practice {
  position: relative;
  top: 4rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
  background-color: white;
}

.bigpic {
  width: 60%;
  margin: 2rem 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bigpic img {
  display: block;
  height: auto;
  max-width: 100%;
}

.bigpic h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.bigpic h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.bigpic h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.bigpic h4 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.smallsets {
  position: relative;
  width: 40%;
  height: auto;
  margin-top: 0;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
}

.smallsets.down1rem{
  top: 1rem;
}

.smallcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.smallpic {
  display: inline-flex;
  align-items: center;
  max-width: 35%;
  height: auto;
  margin: 1rem 1rem;
}

.smallpic img {
  display: inline;
  height: auto;
  max-width: 100%;
}

.smallpictext {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.smallpictext h2 {
  line-height: 1.3;
  padding-top: 0;
  margin: 0;
}

.smallpictext h3 {
  line-height: 1.45;
  margin: 0;
  padding: 0.5rem 0;
}

h3.nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.nopadding a {
  margin: 0;
}


img.image_mobile {
  display: none;
}

/*Start Learning Section*/

#startLearning {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

#startLearning h1 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#courses {
  margin: 0 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courseDescription {
  width: 30%;
  margin: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.courseDescription img {
  height: auto;
  max-width: 100%;
}

.courseText {
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.courseText h2 {
  margin: 0;
  padding-top: 1rem;
}

 .courseLabel {
   margin: 0;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   text-transform: uppercase;
 }

.bottomText {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-top: 0;
}

/*Thesis section*/
#thesis {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#thesisbody {
  margin-bottom: 2rem;
}

#thesis h1 {
  margin: 2rem 0;
  text-align: center;
  line-height: 1;
}

#thesis h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0 0 0 0;
}

#thesis h3 {
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 0;
  line-height: 1;
}

#thesisBody {
  margin-bottom: 2rem;
  display: flex;
}

#videocontainer {
  width: 60%;
  margin: 0 1.5rem 0 1.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

#videocontainer h2 {
line-height: 1;
}

video {
  height: auto;
  max-width: 100%;
}

.smallcontainer.graybackground {
  background-color: lightgray;
}

footer {
  position: relative;
  font-family: Arial;
  font-size: 0.75rem;
  top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid lightgray;
  background-color: white;
}

.copyright {
  margin: 0;
  display: flex;
  align-items: center;
  flex: 0 1 100%;
}

#terms {
  padding-right: 1.5rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 100%;
}

#terms span {
  padding-right: 1.5rem;
  text-decoration: none;
}

/*Google Pixel3a version*/

@media only screen and (min-device-width: 412px)
  and (max-device-width: 847px)
  and (min-resolution: 350dpi)
  and (min-resolution: 600dpi) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 2rem;
    font-weight: 200;
  }

  h4 {
    font-size: 2rem;
    font-weight: 200;
  }

/*Pixel 3a Header*/

header {
  height: 5rem;
}

.widescreen {
  display: none;
}

.smallscreen {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  justify-content: space-between;
}


/* Mobile Banner CSS */
  #banner {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .largepic {
    width: 100%;
  }

  .largepic img {
    margin: 0;
  }

  #bannertext {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #bannertext h1 {
    margin: 1rem 1rem;
  }

  #bannertext h2 {
    margin: 1rem 1rem;
  }

  .button {
    margin-bottom: 2rem;
    align-self: center;
  }

  .bigpic {
    display: none;
  }

  .smallsets {
    width: 100%;
  }

  .smallcontainer {
    display: flex;
    flex-direction: column;
  }

  .smallpic {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .smallpic img {
    margin: 0.5rem 1rem 0 1rem;
  }

  img.image_full {
    display: none;
  }

  img.image_mobile {
    display: block;
  }

  .smallpictext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
  }

  .smallpictext h2 {
    margin: 0.5rem 1rem 0 1rem;
  }

  .smallpictext h3 {
    margin: 0.5rem 1rem 0 1rem;
  }

  .smallcontainer.graybackground {
    background-color: white;
  }

/* Mobile Start Learning */

  #startLearning {
    position: relative;
    box-sizing: border-box;
    top: 8rem;
    padding-bottom: 1.5rem;
    background-color: white;
    border-top: 1px solid lightgray;
  }

  #startLearning h1 {
    margin-bottom: 1rem;
  }

  .courseDescription {
    width: 100%;
    margin: 0rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: lightgray;
  }
  .courseDescription img {
    display: none;
  }

  .courseText h2 {
  padding: 1rem 0 1.5rem 1rem;
  }

  .courseText h3 {
    display: none;
  }

/*Mobile Thesis CSS*/

  #videocontainer {
    width: 100%;
  }

  #thesis {
    top: 8rem;
    border-top: 1px solid lightgray;
  }

  #thesis #videocontainer h2, #thesis #videocontainer h3 {
    display: none;
  }

  #thesisBody .smallsets {
    display: none;
    }

/* Mobile Footer */

  #terms {
    display: none;
  }
}


/*Narrow screen version*/

@media only screen and (max-width: 480px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1rem;
    font-weight: 200;
  }

  h4 {
    font-size: .75rem;
    font-weight: 200;
  }

.widescreen {
  display: none;
}

.smallscreen {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#logo {
  justify-content: space-between;
}


/* Mobile Banner CSS */
  #banner {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .largepic {
    width: 100%;
  }

  .largepic img {
    margin: 0;
  }

  #bannertext {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #bannertext h1 {
    margin: 1rem 1rem;
  }

  #bannertext h2 {
    margin: 1rem 1rem;
  }

  .button {
    margin-bottom: 2rem;
    align-self: center;
  }

  .bigpic {
    display: none;
  }

  .smallsets {
    width: 100%;
  }

  .smallcontainer {
    display: flex;
    flex-direction: column;
  }

  .smallpic {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .smallpic img {
    margin: 0.5rem 1rem 0 1rem;
  }

  img.image_full {
    display: none;
  }

  img.image_mobile {
    display: block;
  }

  .smallpictext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
  }

  .smallpictext h2 {
    margin: 0.5rem 1rem 0 1rem;
  }

  .smallpictext h3 {
    margin: 0.5rem 1rem 0 1rem;
  }

  .smallcontainer.graybackground {
    background-color: white;
  }

/* Mobile Start Learning */

  #startLearning {
    position: relative;
    box-sizing: border-box;
    top: 8rem;
    padding-bottom: 1.5rem;
    background-color: white;
    border-top: 1px solid lightgray;
  }

  #startLearning h1 {
    margin-bottom: 1rem;
  }

  .courseDescription {
    width: 100%;
    margin: 0rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: lightgray;
  }
  .courseDescription img {
    display: none;
  }

  .courseText h2 {
  padding: 1rem 0 1.5rem 1rem;
  }

  .courseText h3 {
    display: none;
  }

/*Mobile Thesis CSS*/

  #videocontainer {
    width: 100%;
  }

  #thesis {
    top: 8rem;
    border-top: 1px solid lightgray;
  }

  #thesis #videocontainer h2, #thesis #videocontainer h3 {
    display: none;
  }

  #thesisBody .smallsets {
    display: none;
    }

/* Mobile Footer */

  #terms {
    display: none;
  }
}
